<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.user.mapper.UserMapper">
	<insert id="insert" parameterType="co.yedam.user.service.UserVO">
		INSERT INTO USER_TBL(USER_ID, USER_PASS, USER_NAME, USER_EMAIL, USER_PHONE, USER_ADDRNUM, USER_ADDR
							USER_BIR, USER_GENDER)
		VALUES (#{USERID}, #{USERPASS}, #{USERNAME}, #{USEREMAIL}, #{USERPHONE},
				#{USERADDRNUM}, #{USERADDR}, #{USERBIR}, #{USERGENDER})
	</insert>
	<update id="update" parameterType="co.yedam.user.service.UserVO">
		UPDATE USER_TBL SET USER_PASS=#{USERPASS}, USER_EMAIL=#{USEREMAIL}, USER_PHONE=#{USERPHONE},
							USER_ADDRNUM=#{USERADDRNUM}, USER_ADDR=#{USERADDR}, USER_BIR=#{USERBIR}, USER_GENDER=#{USERGENDER}
	</update>
	<delete id="delete" parameterType="int">
		DELETE USER_TBL WHERE USER_ID=#{USERID} AND USER_PASS=#{USERPASS}
	</delete>
	<select id="getUser" resultType="co.yedam.user.service.UserVO">
		SELECT * FROM USER_TBL WHERE USER_ID=#{ID} AND USER_PASS=#{PW}
	</select>
	<select id="idcheck" resultType="String">
		SELECT USER_ID FROM USER_TBL WHERE USER_ID=#{USERID}
	</select>
</mapper>
