<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.order.mapper.OrderMapper">
	<select id="orderList"
		resultType="co.yedam.order.service.OrderJoinVO" parameterType="String">

		Select DISTINCT
		o.odr_code, b.book_no, o.user_id,
		u.odr_name, b.book_title, b.book_price, b.book_image, o.odr_amount
		from order_tbl u, order_detail_tbl o, book b
		where u.user_id= o.user_id and o.book_no= b.book_no and o.user_id =
		u.user_id
		order by odr_code
		<!-- select o.odr_code as odr_code, b.book_no as book_no, o.user_id as 
			user_id, u.user_name as user_name, b.book_title as book_title, b.book_price 
			as book_price, b.book_image as book_image from user_tbl u, order_detail_tbl 
			o, book b where u.user_id=o.user_id and o.book_no=b.book_no and o.user_id= 
			'M001' order by odr_code -->
	</select>


	<insert id="addOrder"
		parameterType="co.yedam.order.service.OrderVO">
		insert into order_tbl values(seq_odr_code.nextval,
		#{userId}, #{userName}, #{odrZipcode}, #{odrAddr}, #{odrAddrD},
		#{odrPhone}, #{odrTotalPrice}, '주문완료', SYSDATE, #{odrRequest} )
	</insert>

	<insert id="addOrderItem"
		parameterType="co.yedam.order.service.OrderItemVO">
		INSERT INTO order_detail_tbl (odr_code, user_id,
		book_no, odr_amount )
		SELECT cart_code, user_id, book_no, cart_amount
		FROM cart_tbl
	</insert>
</mapper>