<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.board.mapper.BoardMapper">
	<select id="selectList"
		resultType="co.yedam.board.service.BoardVO">
		SELECT * FROM BOARD ORDER BY BOARD_NO
	</select>
	
	<select id="selectQnaList" resultType="co.yedam.board.service.BoardVO">
		SELECT * FROM BOARD WHERE BOARD_SORT = 'QnA게시판'
	</select>
	
	<select id="selectBookReviewList" resultType="co.yedam.board.service.BoardVO">
		SELECT * FROM BOARD WHERE BOARD_SORT = '리뷰게시판'
	</select>
	
	<select id="bookNoticeList" resultType="co.yedam.board.service.BoardVO">
		SELECT * FROM BOARD WHERE BOARD_SORT = '공지사항'
	</select>

	<select id="select" resultType="co.yedam.board.service.BoardVO"
		parameterType="int">
		select * from board where board_no=#{boardNo}  
	</select>
	<update id="updateCnt" parameterType="int">
		UPDATE BOARD SET view_cnt = view_cnt+1
		where board_no = #{boardNo}
	</update>

	<insert id="insert"
		parameterType="co.yedam.board.service.BoardVO">
		INSERT INTO BOARD VALUES(seq_board.nextval,#{boardNo},#{boardNo},#{likeCnt},#{boardTitle},#{boardContent},SYSDATE,#{boardDate},#{boardSort},#{boardCnt},#{userId},#{boardImage})
	</insert>

	<update id="update" parameterType="co.yedam.board.service.BoardVO">
		UPDATE BOARD SET TITLE=#{title}, CONTENT=#{content}, WRITER =#{writer}, IMAGE=NVL(#{image}, image), LAST_UPDATE=SYSDATE WHERE BOARD_NO=#{boardNo}
	</update>

	<delete id="delete" parameterType="int">
		delete from board where
		board_no=#{boardNo}
	</delete>
</mapper>