<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.admin.mapper.AdminEtcMapper">

	<!-- 주문 목록 -->
	<select id="selectOrderList" resultType="co.yedam.order.service.OrderVO">
		SELECT * FROM ORDER_TBL ORDER BY ODR_CODE
	</select>
	
	<!-- 주문상태 변경 -->
	<update id="orderStatus" parameterType="co.yedam.order.service.OrderVO">
		UPDATE ORDER_TBL SET ODR_STATUS = #{odrStatus} WHERE ODR_CODE =#{odrCode}
	</update>

	<!-- 도서 등록 도서추가 -->
	<insert id="insertBook" parameterType="co.yedam.book.service.BookVO">
		INSERT INTO BOOK 
		VALUES (SEQ_BOOK_NO.nextval, #{bookTitle}, #{bookWriter}, #{bookPublisher}, #{bookPrice}, 
				#{bookCnt}, #{bookImage}, #{bookSort}, #{bookContent})
	</insert>
	<!-- 도서 수정 -->
	<insert id="updateBook" parameterType="co.yedam.book.service.BookVO">
		UPDATE BOOK SET BOOK_WRITER=#{bookWriter}, BOOK_PUBLISHER=#{bookPublisher}, 
		BOOK_PRICE=#{bookPrice}, BOOK_CNT=#{bookCnt},BOOK_SORT=#{bookSort}, BOOK_CONTENT=#{bookContent}
		WHERE BOOK_NO = #{bookNo}
	</insert>
	
	<!-- 도서 삭제 -->
	<delete id="deleteBook" parameterType="int">
		DELETE FROM BOOK WHERE BOOK_NO = #{bookNo}
	</delete>

</mapper>