<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.book.mapper.BookMapper">
	<select id="bkList"
		resultType="co.yedam.book.service.BookVO">
		SELECT * FROM BOOK ORDER BY BOOK_NO
	</select>
	
	<select id="getBk" resultType="co.yedam.book.service.BookVO">
		SELECT * FROM BOOK WHERE BOOK_NO= ${bookNo}
	</select>
	
	<select id="getBkInfo" resultType="co.yedam.book.service.BookVO">
		SELECT * FROM BOOK ORDER BY BOOK_NO DESC
	</select>
	
	<select id="bkshop" resultType="co.yedam.book.service.BookVO">
		SELECT * FROM BOOK
	</select>
</mapper>